/* #updateCountryBtn{
    color: rgb(3, 125, 255);
    font-size: 1em;
    cursor: pointer;
}

#deleteCountryBtn{
    color: rgb(248, 0, 0);
    font-size: 1em;
    cursor: pointer;
    padding-left: 10px;
}

#assessmentCountryBtn{
    color: rgb(17, 255, 0);
    font-size: 1em;
    cursor: pointer;
    padding-left: 10px;
}

#ProjectWorkCountryBtn{
    color: rgb(143, 6, 247);
    font-size: 1em;
    cursor: pointer;
    padding-left: 10px;
}

#subMasterCountryBtn{
    color: rgb(6, 34, 247);
    font-size: 1em;
    cursor: pointer;
    padding-left: 10px;
}

#viewCountryBtn{
    color: rgb(6, 34, 247);
    font-size: 1em;
    cursor: pointer;
    padding-left: 10px;
} */